html, body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 375px;
}

::-webkit-scrollbar {
  background-color: rgba(240, 248, 255, 0);
}

body {
  background: linear-gradient(25deg, rgb(206, 142, 58), rgb(214, 77, 134));
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  display: flex;
}

a {
  text-decoration: none;
}

a:any-link {
  color: white;
}

.textArea {
  width: 60vw;
  height: 2000px;
  color: white;
  text-align: left;
  margin: auto;
  margin-top: 15vh;
  background-image: linear-gradient(
      transparent 12%,
      currentColor 20%,
      currentColor 70%,
      transparent 85%
    );
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  z-index: 2;
  animation: show 1s;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.backgroundAnimation {
  height: 80vh;
  width: 80vw;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 10vh;
  z-index: 1;
}

.point {
  height: 6px;
  width: 6px;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  display: none;
  animation: resizing 2s linear alternate infinite paused, moving 8s alternate infinite;            
  z-index: 2;
}

@keyframes resizing {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(0.7);
      box-shadow: 0px 0px 5px 2px white;
  }
}

@keyframes moving {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(42px, 10px);
  }
  
}

.navigationBar {
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: 4px solid white;
  width: 60vw;
  height: 6vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  left: 0;
  right: 0;
  z-index: 3;
  grid-area: navbar;
}

.button1, .button2, .button3, .button4 {
  width: 15vw;
  height: 6vh;
  color: rgb(255, 255, 255);
  font-size: 16pt;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 800;
}

.button1:hover, .button3:hover, .button4:hover {
  cursor: pointer;
  transform: scale(0.9);
}

h1 {
  font-size: 50pt;
  font-weight: 600;
  height: 5vh;
}

h2 {
  font-size: 15pt;
  font-weight: 500;
}

.textArea h1, h2 {
  color: transparent;
}

.leftImage1, .leftImage2 {
  float: left;
  margin-right: 1vw;
  border: 3px solid white;
}

.rightImage {
  float: right;
  margin-left: 1vw;
  border: 3px solid white;
}


/* RESPONSIVE ATTRIBUTES */

@media only screen and (max-width: 1450px) {
  .button2, .button3 {
    font-size: 10pt;
    margin: auto;
  }
}

@media only screen and (max-width: 1170px) {
  .button1, .button2, .button3, .button4 {
    font-size: 10pt;
    margin: auto;
  }

  .leftImage1 {
    width: 400px;
    height: 200px;
  }
}

@media only screen and (max-width: 950px) {
  .navigationBar {
    width: 68vw;
  }
  
  .button1, .button2, .button3, .button4 {
    font-size: 8.5pt;
    margin: auto;
  }

  h1 {
    font-size: 40pt;
  }

  .leftImage1 {
    width: 350px;
    height: 200px;
  }

  .rightImage {
    width: 325px;
    height: 190px;
  }
}

@media only screen and (max-width: 735px) {
  .button1, .button2, .button3, .button4 {
    font-size: 8pt;
    margin: auto;
  }

  .navigationBar {
    width: 80vw;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 30pt;
  }

  .leftImage1 {
    width: 300px;
    height: 175px;
  }

  .rightImage {
    width: 250px;
    height: 150px;
  }

  .leftImage2 {
    width: 175px;
    height: 300px;
  }
}

@media only screen and (max-width: 580px) {
  .button1, .button2, .button3, .button4 {
    font-size: 7.5pt;
  }

  .textArea {
    height: 2300px;
    width: 72vw;
  }

  .leftImage1 {
    width: 225px;
    height: 125px;
  }

  .rightImage {
    width: 200px;
    height: 120px;
    float: left;
  }

  .leftImage2 {
    width: 125px;
    height: 210px;
  }

  h1 {
    font-size: 21pt;
    float: left;
  }

  h2 {
    font-size: 12pt;
    float: left;
  }
}